.task-wrapper {
  display: grid;
}
ul,li{
  list-style-type: none;
}
li{
  display:grid;
}
ul{
  margin: 0 !important;
  padding-inline-start: 0 !important;
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
}

.individual-tasks-wrapper {
  padding-bottom: 25px;
  line-height: 22.334px;
  font-size: 14px;

}
.individual-task{
  grid-column: 1/6;
  grid-row:auto;
}

.check-box{
  display: grid;
  position: relative;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 15px;
}

.check-box .container {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hiding the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Creating a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  grid-column: 6;
}

/* On mouse-over, adding a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, adding a greenish background */
.container input:checked ~ .checkmark {
  background-color:#63c89c;
}

label.container {
  color: black;
}
input:checked ~ span.individual-task {
  color: #21252938;
}

/* Creating the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content:"";
  position: absolute;
  display: none;
}

/* Showing the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Styling the indicator (dot/circle) */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}