* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f0efe9;
  color: #212529c4;
  height: 100vh !important;
  width: 100% !important;
}

#root {
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
