.card {
  height: auto;
  width: 320px;
  background-color: white;
  box-shadow: 4px 4px #c3c3c31a;
  padding: 15%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .card {
    width: 320px;
  }
}
